.random {
    background-color: #eee;
    height: 40vh;
    width: 100vw;
}

.search-bar-container {
    padding-top: 1vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}